.chatbox {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 2rem 0 0 auto;
    background-color: var(--blue);
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    
}

.chatbox.active {
    flex-direction: column;
    border: 2px solid var(--blue);
}

.chatbox__container {
    width: 100%;
}

.chatbox__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;

}

.chatbox__menu div {
    
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.chatbox img {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chatbox small {
    font-size: 1.2rem;
    color: var(--white);
}


.chatbox__arrow {
    transform: rotate(-90deg);
    cursor: pointer;
}

.chatbox__arrow.active {
    transform: rotate(0deg);

}


.chatbox__list {
    width: 100%;
    height: 300px;
    background-color: var(--white);
    padding: .5rem;
    overflow-y: scroll;
}

.chatbox__list div {
    width: 100%;
    border: none;
}



