.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3b58c8;
    border-radius: 1.2rem;
}

.navbar__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.4rem;
    list-style: none;
    position: relative;
}

.navbar__items {
    display: flex;
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    border-bottom: 1px solid #F0EEED;
    cursor: pointer;
}

.navbar__items div.active {
    position: absolute;
    right: 0;
    width: 25px;
    background-color: white;
    height: 32px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}


/* nav li.active {
    background-color: #fefeff;
   
} */

.navbar__items a {
    color: #fefeff;
    text-decoration: none;

}

.navbar__items div.active::after {
    content: ">";
    font-family: bold;
    color: #cdd3df;
    position: absolute;
    top: .4rem;
    right: 0;
}
