.container {
    display: flex;
    justify-content: space-between;
}


.user {
    margin-left: 2rem;
}

.user, .company {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.user__name {
    font-size: 1.4rem;
    color: var(--gray);

}

.user__profile {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 100%;
}


.user__details {
    width: 26rem;
}



 .user__details:nth-child() {

    border-bottom: 1px solid var(--primary-color-1);
}



.user__details div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}



.subheading {
    color: var(--primary-color-1);
}
.user__details div small {
    color: #656565;
    font-weight: bolder;
    
}


.company h2 {
    color: var(--primary-color-1);
}


.address {
    position: relative;
    padding-left: 2rem;
    border-left: 1px solid var(--primary-color-1);
}



.address__container {
    margin: 1rem 0 0 3.5rem;
}



/* MEDIA QUERIES FOR RESPONSIVENSS */

@media only screen and (max-width: 60.25em) {
    .container {
        flex-direction: column;
    }
    
    .user__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
    }

    .address {
        text-align: center;
        border: none;
    }

    .address__container {
        margin: 1rem auto;
    }
}






