.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: .5rem;
    width: 22rem;
    background-color: var(--white);
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 4;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border-radius: 2rem;
    padding: 2rem 0;

}

.modal img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.modal__btn {
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #d55151;
    margin-top: auto;
    cursor: pointer;

    transition: all .4s ease-out;
}

.modal__btn:hover {
    transform: translateY(-3px);
}

.modal__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
    grid-gap: .5rem;
    height: 30rem;
    overflow-y: scroll;
}

.modal__container div {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    padding: 0.5rem 0 0 1.5rem ;
}

.modal__container div {
    border-top: 1px solid var(--primary-color-1);
}