.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 1.2rem;
}



.navbar__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.4rem;
    list-style: none;
    position: relative;
}

.navbar__items {
    display: flex;
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
    border-bottom: 1px solid #F0EEED;
    cursor: pointer;
}

.navbar__items img.active {
    position: absolute;
    right: -1rem;
    background-color: var(--white);
    width: 25px;
    height: 25px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    padding: 4px;
}


.navbar__items a {
    color: #F0EEED;
    text-decoration: none;

}
.navbar__items a.active {
    font-weight: bold;
    color: #fefeff;
    text-decoration: none;

}


/* MEDIA QUERIES FOR RESPONSIVENSS */


@media only screen and (max-width: 65.25em) {
    
    .navbar {

        width: 20rem;
        margin: auto;
    }
}


@media only screen and (max-width: 65.25em) { 

    .navbar__items:last-child {
        border: none;
    }
}
