*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #f6f6f6;
  --primary-color-1: #c4c4c4;
  --secondary-color: #6f6f6f;
  --blue: #3b58c8;
  --gray: #656565;

  --white: white;
}



html {
  /* //1rem = 10px */
  min-height: 100vh;
  font-size: 90%;
  font-family: 'Heebo', sans-serif;
  
}

@media only screen and (min-width: 81.25em) {
  html {
    font-size: 80.5%; 

  }
  /* //1rem = 13.5px */
}

@media only screen and (max-width: 29em) {

  html {

    font-size: 48%; 
  }
  /* //1rem = 7.7px */
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 40%; 

  }

  /* //1rem = 6.6px */
}

body {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 3rem;
}
  
  
  
  @media only screen and (max-width: 70em) {

    body {
      margin:1rem;

    }
  }