.map-container {
    width: 100%;
    height: 40vh;
}

.coords {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.coords div {
    display: flex;
    grid-gap: .5rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.coords div h5 {
    font-size: inherit;
    color: var(--primary-color-1);
}

.coords div small {
    font-size: inherit;
    color: var(--gray);
    font-weight: bold;
}